body.dark{
    --row-hover: #AAAAAA;
}

/* form */
.form-container{
    display: flex;
    justify-content: center;
    width: 100vw;
}

form{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100vw;
    word-wrap: break-word;
    align-content: center;
}

label{
    margin: 10px;
    font-weight: 700;
    color: var(--dark);
}

input[type='file']{
    width: 200px;
    color: var(--dark);
}

button[type='submit']{
    border-radius: 5px;
    padding: 3px;
    font-weight: 500;
}

button[type='submit']:hover{
    background-color: grey;
    color: var(--dark);
}

.bottom-data{
    display: flex;
    justify-content: center;
}


table{
    font-size: 11pt;
}


.bottom-data{
    display: flex;
    justify-content: center;
    margin-left: 140px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    border-radius: 3px solid var(--dark);
    background: var(--dark);
    text-align: center;
    width: 84%;
    width: 90%;
    margin-left: 10px;
    height: 100px;
}

thead .row:hover{
    background-color: var(--dark);
}

.row:hover{
    background-color: var(--row-hover);
    transition: all ease 0.3s;
}

.row .data:nth-child(1){
    width: 120px;
}
.data{
    color: var(--light);
    width: 150px;
    font-weight: 500;
    word-wrap: break-word;
}

.header h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    color: var(--dark);
}


/* button */
.btn1{
    padding: 0.6rem 2rem;
    background-color: rgba(33, 235, 255, .5);
    color:var(--light);
    font-weight: 600;
    border-radius: 0.5rem;
    text-transform: uppercase;
    border: 3px solid #21ebff;
}

.btn2{
    padding: 0.6rem 1.4rem;
    background-color: rgba(33, 235, 255, .5);
    color:var(--light);
    font-weight: 600;
    border-radius: 0.5rem;
    text-transform: uppercase;
    border: 3px solid #21ebff;
}

.btn1:hover{
    background-color: #21ebff;
    cursor: pointer;
    box-shadow: 0 0 10px #21ebff;
}

.btn2:hover{
    background-color: #21ebff;
    cursor: pointer;
    box-shadow: 0 0 10px #21ebff;
}